<% include breadcrumbs.ejs %>
<div class="container-fluid text-center">
    <!-- Edit Document -->
    <div class="row">
        <div class="well col-md-8 col-md-offset-2">
            <% include _resource_form %>
        </div>
    </div>
</div>



