<div class="container text-center">
    <!-- Edit Document -->
    <div class="row">
        <div class="well col-md-8 col-md-offset-2">
            <% include _document_form %>
        </div>
    </div>
</div>

