<%
/*var courseOrder = 0;
var docsOrder = 0;
if (typeof lectures === 'object'){
  courseOrder = lectures.length;
}
if (typeof documents === 'object'){
  docsOrder = documents.length;
}*/

var name = '';
var des = '';
var cbutton = 'Create';
var cid = 0;
var parent = 0;
var cheading = 'Add New Course'
if (typeof c === 'object') {
  name = c.name;
  des = c.desc;
  cid = c.id;
  parent = c.parent;
  cbutton = 'Update'
  cheading = 'Edit course'
}
%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container text-center">
  <!-- Edit Course -->
  <div class="row">
    <div class="well col-md-8 col-md-offset-2">
      <h4 class="text-center">Course Details</h4>

      <!-- name -->
      <div class="form-group">
        <label class="control-label col-sm-2" for="course name">Course Name*</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" id="coursename" name="name" value="<%= name %>">
        </div>
      </div><br><br>

      <div class="form-group">
        <label class="control-label col-sm-2" for="course description">Course Description*</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" id="coursedes" name="des" value="<%= des %>">
        </div>
      </div>



    </div>
  </div>

  <!-- Lecture list -->
  <div class="row col-md-12">
    <div class="well col-md-6 ">
      <h4 class="text-center">Sub-Courses Details</h4>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>SubCourse Name</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% for (course of lectures) { %>
        <tr>
          <td>
            <label class="text-center"><%= course.description %></label>
          </td>
          <td>
              <a class="form-control btn btn-primary btn-sm" href="/course/<%= course.id %>/edit">View Details</a>
          </td>
        </tr>
        <%} %>
        </tbody>
      </table>
    </div>
    <div style="left: 25px;" class="well col-md-6">
      <h4 class="text-center">Documents Details</h4>
    </div>
  </div>
</div>
