<div class="container-fluid margin-top-40">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h4 class="text-center">Courses Available</h4>
      <table class='table table-striped'>
        <thead>
        <tr>
          <th>Course Name</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% for (course of courses) { %>
        <tr>
          <td>
            <label class="text-center"><%= course.name %></label>
          </td>
          <td>
              <a class="form-control btn btn-primary btn-sm" href="/course/<%= course.id %>/edit">Enter</a>
          </td>
        </tr>
        <%} %>
        </tbody>
      </table>
    </div>
  </div>
</div>
